.App {
  text-align: center;
  background-color: lightgrey;
  height:100%;
  width: 100%;
  position: absolute;
  overflow: auto;
}

#appHeader {
  text-align: center;
  font-style: bold;
  color: green;
  height: 8%;  
}

#tableOuter {
  width: 80%;
  margin-left: 10%;
  overflow-x: auto;
}

.tableHead {
  margin-left:10%;
  display: flex;
  flex-direction: row;
}
.buttonDiv {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

/* table main */
table {
  border-collapse: collapse;
  width: max-content
}
table th, td {
  border: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
}

/* table head */
thead tr {
  background-color: rgba(2, 147, 2, 0.568);
}
thead tr:first-child {
  border-bottom: 4px solid #000;
}

/* table body */
tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.180)
}

/* table last */

/* first column */

.firstColumn:first-child {
  position: sticky; 
  left: 0; 
  z-index: 1;
  opacity: 100; 
  background-color: rgb(58, 192, 0);
  border-right: 2px solid #000;
}

tbody tr:last-child {
  border-top: 3px solid #000;
  background-color: rgba(2, 147, 2, 0.382);
}

/* end */



.positiveCell{
  font-weight: bold;
  color:black
}
.zeroCell{
  color:rgb(158, 54, 54)
}