.App {
  text-align: center;
  background-color: rgb(227, 227, 227);
  height:100%;
  width: 100%;
  position: absolute;
  overflow: auto;
}

#appHeader {
  text-align: center;
  font-style: bold;
  color: green;
  height: 8%;  
}

#tableOuter {
  width: 80%;
  margin-left: 10%;
  overflow-x: auto;
}

.tableHead {
  margin-left:10%;
  display: flex;
  flex-direction: row;
}
.buttonDiv {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

/* table main */
.mainTable {
  border-collapse: collapse;
  width: max-content;
  border: 2px solid black
}
.mainTable th {
  border: 1px solid black;
  user-select: none;
}
.mainTable td {
  border: 1px solid black;
  user-select: none;
}



/* table head */
thead tr {
  background-color: #C6E0B4;
}
thead tr {
  border-bottom: 3px solid #000;
}

/* table body */
tbody tr {
  background-color: white
}

/* table last */

/* first column */
.sticky{
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: #A9D08E;
}
.stickySpan{
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: #A9D08E;

}
.rates{
  position: sticky;
  z-index: 1;
  background-color: #A9D08E;
}
.userName{
  font-weight: bold;
  text-align: left;
  background-color: #C6E0B4;
}
.userRate{
  font-weight: bold;
  background-color: #C6E0B4;
}


.username{
  text-align: left;
  font-weight: bold
}

tbody tr:last-child {
  border-top: 3px solid #000;
  background-color: #C6E0B4;
}



/* end */



.positiveCell{
  font-weight:550;
  color:black
}
.zeroCell{
  color:rgba(0, 0, 0, 0.546)
}

::selection{
  background: none
}
.selected{
  background: rgba(52, 52, 255, 0.31);
}